:root{
    --primary-color : #FF5ECF;
    --primary-hover : #EF57C2;
    --success-color : #3AFF58;
    --success-hover : #30F34E;
    --danger-color : #FF3A3A;
    --danger-hover : #E62626;
    --bg-color: #FFF9FD;
}
